:root.theme-dark {
  --ft_color: #F1B2CE;
  --decor-general: #FF0070;
  --title-color: #DB00FF;
  --title-shd-color: #FF0070;
  --title-font-decor: #000028;
  --title-bg-decor: #FF0070;
  --bg_page: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  background-color: var(--bg_color);
}

.theme-dark .decor_rec {
  overflow: visible;
}