:root.theme-light {
  --ft_color: #353430;
  --decor-general: #353430;
  --title-color: #FFC2E6;
  --title-shd-color: #FF8DCB;
  --title-font-decor: #353430;
  --title-bg-decor: #FF8DCB;
  --bg_page: url(../images/cover-image-light.png);
}

.theme-light .page {
  background-color: #FFF1F7;
}

.theme-light .decor_rec {
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
      --ft_color: #353430;
      --decor-general: #353430;
      --title-color: #FFC2E6;
      --title-shd-color: #FF8DCB;
      --title-font-decor: #353430;
      --title-bg-decor: #FF8DCB;
      --bg_page: url(../images/cover-image-light.png);
  }
    
  .page {
      background-color: #FFF1F7;
  }

  .decor_rec {
    overflow: hidden;
  }
}
@media (width >= 1024px) {
  .footer_title {
    --title-shd-color: #FF0070;;
  }
}